 .vertical-aside {
  position: fixed;
  top: 50px; /* 네비게이션 바 아래로 내리기 */
  left: 0;
  height: calc(100% - 60px); /* 상단 바 높이만큼 줄이기 */
  width: 70px;
  font-size:9px;
  background-color: #f8f9fa;
  z-index: 1000;
  padding-top: 20px;
  padding-bottom:10px;
  text-align:center;
}
.vertical-aside .nav-link{
  padding: 10px 15px;
  color: #333;
  margin-bottom:10px;
}
.vertical-aside .nav-item {
padding-top: 10px;
  padding-bottom:10px;
}
.vertical-aside .nav-item:hover {
  background-color: #e2e6ea;
padding-top: 10px;
  padding-bottom:10px;
  border-radius:30px;
}

/* 상단 navbar에 z-index 적용 */
.navbar {
  z-index: 1100;
  position: relative;
  padding-left:70px;
}
        .d-flex {
        margin-left:150px;
        }
        .d-flex input {
        width:370px;
        border-radius:30px;
        }
        .mic {
  border-radius: 30px;
  border: 1px solid #198754; /* Bootstrap success 색상 */
  background-color: transparent;
  color: #198754;
  padding: 6px 15px;
  margin-left: 10px;
  cursor: pointer;
}

.mic i {
  font-size: 16px;
}
       .sub-nav {
  margin-left: 100px;
}

.sub-nav ul {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}

.sub-nav ul li {
  background-color: lightgray;
  border-radius: 10px;
  text-align: center;
  padding: 5px 10px; /* 좌우 여백으로 글자 수에 따라 넓이 조절됨 */
  white-space: nowrap; /* 줄바꿈 방지 */
  font-size: 10px;
  width: auto; /* 글자 수에 따라 자동 너비 */
}
        .sub-nav ul li a {
  color: black;
  text-decoration:none;
  font-size:10px;
        }
.sub-nav ul li:hover {
  background-color: darkgray;
  color:white;
  border-radius: 10px;
  text-align: center;
  padding: 5px 10px; /* 좌우 여백으로 글자 수에 따라 넓이 조절됨 */
  white-space: nowrap; /* 줄바꿈 방지 */
  font-size: 10px;
  width: auto; /* 글자 수에 따라 자동 너비 */
}

.card-group {
padding-top:30px;
padding-left:90px;
}
        .card {
        padding-left: 20px;
        border:none;
        overflow: hidden;

        }
        .card:hover {
        cursor:pointer;
        }
        .card img {
         width: 100%;
  transition: transform 0.3s ease;


        }
        .card img:hover {
        transform: scale(1.1);

        }